@charset "UTF-8";
body {
  margin: 0px;
  min-width: 375px;
}
body h1, body h2, body h3, body h4, body p, body button, body a, body li {
  font-family: Roboto, sans-serif;
}
body .menu h1 {
  font-family: shrikhand;
  text-align: center;
}
body .menu h4 {
  font-size: 18px;
  font-weight: 500;
}
body .menu p {
  font-size: 15px;
  font-weight: 300;
}

.btn-coeur {
  font-size: 1.5em;
}
.btn-coeur__vi {
  position: relative;
  top: 14px;
  font-weight: 100;
  z-index: 2;
}
.btn-coeur__pl {
  position: relative;
  bottom: 14px;
  z-index: 0;
  transform: scale(0);
  background: linear-gradient(176deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-coeur:hover .btn-coeur__vi {
  opacity: 0;
}
.btn-coeur:hover .btn-coeur__pl {
  transform: scale(1);
}

.btn-coeur--accu {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.btn-coeur--accu::after {
  content: "";
  z-index: 1;
  transition: transform 500ms cubic-bezier(0.55, 1.2, 0.93, 1);
  background: #f6f6f6;
}

/*mixins*/
/*header*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0px 7px 6px #B1B1B1;
}
header img {
  width: 197px;
  height: -moz-fit-content;
  height: fit-content;
}
header a {
  position: absolute;
  left: 17px;
  color: black;
  text-decoration: none;
}

footer {
  background-color: #353535;
  color: white;
  height: 170px;
  padding-bottom: 15px;
}
footer img {
  filter: invert(100);
  width: 139px;
  height: 27px;
  margin-left: 20px;
  margin-top: 25px;
}
footer ul {
  list-style-type: none;
  margin-left: 0px;
}
footer ul li {
  padding-bottom: 5px;
  font-weight: 400;
}
footer ul i {
  padding-right: 15px;
  width: 11px;
  height: 13px;
}
footer a {
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
  }
  footer img {
    padding: 0px 50px 20px 50px;
  }
  footer ul {
    display: flex;
    gap: 20px;
  }
}

.loader {
  font-family: shrikhand;
  font-size: 60px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader-div 9s;
  opacity: 0;
}
.loader .lettre {
  color: #9356DC;
  text-shadow: 0 0 7px #99E2D0;
  opacity: 0;
  animation: anim-lettre 7s;
  transform: scale(0.5);
}
.loader .lettre:nth-child(1) {
  animation-delay: 100ms;
}
.loader .lettre:nth-child(2) {
  animation-delay: 200ms;
}
.loader .lettre:nth-child(3) {
  animation-delay: 300ms;
}
.loader .lettre:nth-child(4) {
  animation-delay: 400ms;
}
.loader .lettre:nth-child(5) {
  animation-delay: 500ms;
}
.loader .lettre:nth-child(6) {
  animation-delay: 600ms;
}
.loader .lettre:nth-child(7) {
  animation-delay: 700ms;
}
@keyframes anim-lettre {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: scale(0.5);
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(0.7);
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    transform: scale(0.8);
  }
  82% {
    opacity: 0;
  }
  95% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes loader-div {
  0% {
    opacity: 1;
    z-index: 3;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 3;
  }
}
.part-lieu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: 0px 1px 5px #353535;
}
.part-lieu i {
  color: #353535;
  font-size: 16px;
  padding-right: 17px;
}
.part-lieu input {
  border: none;
  background-color: #EAEAEA;
  width: 110px;
}
.part-lieu input::-moz-placeholder {
  color: #353535;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.part-lieu input::placeholder {
  color: #353535;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* section réservation*/
.part-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  margin-top: 4px;
  height: 220px;
}
.part-reservation h2, .part-reservation p {
  text-align: center;
}
.part-reservation h2 {
  margin-bottom: 0px;
  margin-top: 35px;
  min-width: 275px;
}
.part-reservation p {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
  min-width: 315px;
  margin-bottom: 27px;
}
.part-reservation div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 50px;
  width: 218px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.part-reservation a {
  text-decoration: none;
}
.part-reservation a :hover {
  opacity: 0.9;
}

/*section fonctionnement*/
.part-fonctionnement {
  margin: 20px;
  height: 390px;
}
.part-fonctionnement h2 {
  margin-top: 50px;
  margin-bottom: 35px;
}
.part-fonctionnement ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.part-fonctionnement li {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 72.379px;
  width: 95%;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.part-fonctionnement li .puce-liste {
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: relative;
  right: 10px;
}
.part-fonctionnement li i {
  padding: 25px;
  color: #7e7e7e;
  padding-left: 15px;
}
.part-fonctionnement li:hover i {
  color: #9356DC;
}

/*section restaurant*/
.part-restaurants {
  background-color: #EDEDED;
  padding: 20px;
}
.part-restaurants a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.part-restaurants article {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 15px;
  width: 88%;
}
.part-restaurants .carte-image {
  display: flex;
  justify-content: flex-end;
}
.part-restaurants .etiquette-nouveau {
  width: 80px;
  height: 29px;
  font-weight: 500;
  color: #278870;
  background-color: #99E2D0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: absolute;
  margin-right: 15px;
}
.part-restaurants img {
  width: 100%;
  height: 170px;
  border-radius: 25px 25px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.part-restaurants .carte-texte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 15px;
}
.part-restaurants .carte-texte .coeur {
  margin-bottom: 35px;
  margin-right: 20px;
}
.part-restaurants .carte-texte h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.part-restaurants .carte-texte p {
  font-size: 17px;
  font-weight: 300;
  margin-top: 0px;
}

/*media */
@media screen and (min-width: 992px) {
  body .part-fonctionnement {
    height: -moz-fit-content;
    height: fit-content;
    max-width: 1200px;
    margin: auto;
  }
  body .part-fonctionnement ul {
    flex-direction: row;
    gap: 30px;
    padding-left: 0px;
  }
  body .part-restaurants h2 {
    max-width: 1200px;
    margin: auto;
  }
  body .part-restaurants .restau-media {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }
  body .part-restaurants a {
    width: 46%;
    margin-top: 30px;
  }
  body .part-restaurants article {
    width: 100%;
  }
}
.image {
  width: auto;
}
.image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 500px;
}

/*section menu*/
.menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  margin: auto;
  position: relative;
  bottom: 60px;
  width: 100%;
  margin-bottom: -60px;
}
.menu__titre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__titre > h1 {
  padding-top: 32px;
  padding-right: 15px;
  font-weight: 400;
}
.menu h3 {
  font-weight: 300;
  padding-left: 15px;
}
.menu h3 span {
  border-bottom: #99E2D0 solid 2px;
  padding-bottom: 4px;
}
.menu .menu_boite {
  margin-bottom: 40px;
}
.menu .anim__cascade1 {
  animation: anim-cascade1 2000ms 100ms;
}
@keyframes anim-cascade1 {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.menu .anim__cascade2 {
  animation: anim-cascade2 3000ms 100ms;
}
@keyframes anim-cascade2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  20% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.menu .anim__cascade3 {
  animation: anim-cascade3 4000ms 100ms;
}
@keyframes anim-cascade3 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  30% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.menu .boite {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  width: 95%;
  margin: auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 69px;
  margin-bottom: 12px;
  overflow: hidden;
  cursor: pointer;
}
.menu .boite_texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: width 400ms;
  width: 85%;
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .boite_texte h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 6px;
  padding-top: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .boite_texte p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
}
.menu .boite_texte__para {
  display: flex;
  justify-content: space-between;
}
.menu .boite_prix {
  transform: translateX(0px);
  transition: transform 400ms cubic-bezier(0.32, 0, 0.07, 1);
  transform-origin: right;
  margin-top: 20px;
  margin-right: 12px;
  position: relative;
  left: 60px;
}
.menu .boite_prix p {
  font-weight: 700;
}
.menu .boite:hover .progress {
  transform: translateX(0px);
}
.menu .boite:hover .boite__prix {
  transform: translateX(-60px);
  margin-right: 60px;
}
.menu .boite:hover .boite_texte {
  width: calc(100% - 230px);
}
.menu .boite .progress {
  width: 60px;
  transform: translateX(60px);
  transition: transform 400ms cubic-bezier(0.32, 0, 0.07, 1);
  transform-origin: right;
}
.menu .boite .progress i {
  color: white;
  position: absolute;
  top: 26px;
  right: 22px;
}
.menu .boite .progress__bloc {
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  height: 69px;
}
.menu .bouton {
  display: flex;
  justify-content: center;
}
.menu .bouton-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 50px;
  width: 218px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  cursor: pointer;
}
.menu .bouton a {
  text-decoration: none;
}
.menu .bouton a :hover {
  opacity: 0.9;
}

@media screen and (min-width: 992px) {
  img {
    max-height: 500px;
    -o-object-fit: fill;
       object-fit: fill;
    -o-object-position: center;
       object-position: center;
  }
  .menu {
    max-width: 992px;
    margin-top: -20px;
  }
  .menu_boite {
    width: 75%;
    margin: auto;
  }
}/*# sourceMappingURL=main.css.map */