@charset "UTF-8";
/*variables*/
/*mixins*/
body {
  margin: 0px;
  min-width: 375px;
}
body h1, body h2, body h3, body h4, body p, body button, body a, body li {
  font-family: Roboto, sans-serif;
}

/*section formulaire*/
.part-lieu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: 0px 1px 5px #353535;
}
.part-lieu i {
  color: #353535;
  font-size: 16px;
  padding-right: 17px;
}
.part-lieu input {
  border: none;
  background-color: #EAEAEA;
  width: 110px;
}
.part-lieu input::-moz-placeholder {
  color: #353535;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.part-lieu input::placeholder {
  color: #353535;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* section réservation*/
.part-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  margin-top: 4px;
  height: 300px;
}
.part-reservation h2, .part-reservation p {
  text-align: center;
}
.part-reservation h2 {
  margin-bottom: 0px;
  margin-top: 35px;
  width: 275px;
}
.part-reservation p {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
  width: 315px;
  margin-bottom: 27px;
}
.part-reservation button {
  border-radius: 25px;
  height: 50px;
  width: 218px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.part-reservation a {
  transition: all 1000ms;
}
.part-reservation a :hover {
  transform: scale(1.001);
  opacity: 0.9;
}

/*section fonctionnement*/
.part-fonctionnement {
  margin: 20px;
  height: 390px;
}
.part-fonctionnement h2 {
  margin-top: 50px;
  margin-bottom: 35px;
}
.part-fonctionnement ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.part-fonctionnement li {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 72.379px;
  width: 322.486px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
}
.part-fonctionnement li .puce-liste {
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: relative;
  right: 10px;
}
.part-fonctionnement li i {
  padding: 25px;
  color: #7e7e7e;
  padding-left: 15px;
}
.part-fonctionnement li .i-couleur {
  color: #9356DC;
}

/*section restaurant*/
.part-restaurants {
  background-color: #EDEDED;
  padding: 20px;
}
.part-restaurants a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.part-restaurants article {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 15px;
  width: 340px;
}
.part-restaurants .carte-image {
  display: flex;
  justify-content: flex-end;
}
.part-restaurants .etiquette-nouveau {
  width: 80px;
  height: 29px;
  font-weight: 500;
  color: #278870;
  background-color: #99E2D0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: absolute;
  margin-right: 15px;
}
.part-restaurants img {
  width: 340px;
  height: 170px;
  border-radius: 25px 25px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.part-restaurants .carte-texte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 15px;
}
.part-restaurants .carte-texte i {
  width: 22px;
  height: 21px;
}
.part-restaurants .carte-texte h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.part-restaurants .carte-texte p {
  font-size: 17px;
  font-weight: 300;
  margin-top: 0px;
}/*# sourceMappingURL=style.css.map */