/*variables*/
$couleur-primaire: #9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-texte1:#353535;
$couleur-fond1:#EAEAEA;
$couleur-fond2:#F6F6F6;
$marge:20px;
$ombre:0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$degrade:linear-gradient($couleur-secondaire, $couleur-primaire );

/*mixins*/ 
@mixin liens{
    color: black;
    text-decoration: none;
}


body{
    margin: 0px;
    min-width: 375px;
    h1, h2, h3, h4, p, button, a, li{
        font-family: Roboto,sans-serif;
    }
}




/*section formulaire*/
.part-lieu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $couleur-fond1;
    height: 50px;
    box-shadow: 0px 1px 5px $couleur-texte1;
    & i{
        color: $couleur-texte1;
       font-size: 16px;
        padding-right: 17px;
    }
    & input{
        border: none;
        background-color: $couleur-fond1;
        width: 110px;
        &::placeholder{
            color: $couleur-texte1;
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 16px;
        }
    }
}

/* section réservation*/
.part-reservation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $couleur-fond2;
    margin-top: 4px;
    height:300px;
    & h2, p{
        text-align: center;
    }
    & h2{
        margin-bottom: 0px;
        margin-top: 35px;
        width: 275px;
    }
    & p {
        color: $couleur-texte1;
        font-size: 18px;
        font-weight: 300;
        width: 315px;
        margin-bottom: 27px;
    }
    & button{
       
        border-radius: 25px;
        height: 50px;
        width: 218px;
        background: $degrade;
        border: none;
        box-shadow: $ombre;
        color: white;
        font-size: 16px;
        font-weight: 500;
    } 
    & a{
        transition: all 1000ms;
        & :hover{
            transform: scale(1.001);
            opacity: 0.9;
            
        }
    }
}

/*section fonctionnement*/
.part-fonctionnement{
    margin: $marge;
    height: 390px;
    & h2{
        margin-top: 50px;
        margin-bottom: 35px;
    }
    & ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & li{
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: $couleur-fond2;
        box-shadow: $ombre;
        height: 72.379px;
        width: 322.486px;
        margin-bottom: 24px;
        font-weight:500;
        font-size: 16px;
        & .puce-liste{
            background-color: $couleur-primaire;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight:500;
            font-size: 15px;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            position: relative;
            right: 10px;
            
        }
        & i{
           padding:25px;
           color: #7e7e7e;
           padding-left: 15px;
        }
        & .i-couleur{
            color: $couleur-primaire;
        }
    }
}

/*section restaurant*/
.part-restaurants{
    background-color: #EDEDED;
    padding: $marge;
    & a{
        @include liens;
        display: flex;
        justify-content: center;
    }
    & article{
        background-color: white;
        border-radius: 25px ;
        margin-bottom: 15px;
        width: 340px;
    }
    & .carte-image{
        display: flex;
        justify-content: flex-end;
    }
    & .etiquette-nouveau{
        width: 80px;
        height: 29px;
        font-weight: 500;
        color: darken($color: $couleur-tertiaire, $amount: 40);
        background-color: $couleur-tertiaire;
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        position: absolute;
        margin-right: 15px;
    }
    & img{
        width: 340px;
        height: 170px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }
    & .carte-texte{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
        margin-left: 15px;
        & i{
            width: 22px;
            height: 21px;
        }
        
        & h3{
            margin-top: 10px;
            margin-bottom: 0px;
            
        }
        & p{
            font-size: 17px;
            font-weight: 300;
            margin-top: 0px;
        }
        
    }

}