
.loader{
    font-family: shrikhand;
    font-size: 60px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:$couleur-fond2;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader-div 9s;
    opacity: 0;
    
    .lettre{
        color: $couleur-primaire;
        text-shadow: 0 0 7px $couleur-tertiaire;
        opacity: 0;
        animation: anim-lettre 7s;
        transform: scale(0.5);
        &:nth-child(1){
            animation-delay: 100ms;
        }
        &:nth-child(2){
            animation-delay: 200ms;
        }
        &:nth-child(3){
            animation-delay: 300ms;
        }
        &:nth-child(4){
            animation-delay: 400ms;
        }
        &:nth-child(5){
            animation-delay: 500ms;
        }
        &:nth-child(6){
            animation-delay: 600ms;
        }
        &:nth-child(7){
            animation-delay: 700ms;
        }
        
    }
    @keyframes anim-lettre{
        0%{
            opacity: 1;
        }
        10%{
            opacity: 0;
        }
        20%{
            opacity: 1;
            transform: scale(0.5);
        }
        30%{
            opacity: 0;
        }
        50%{
            opacity: 1;
            transform: scale(0.7);
        }
        60%{
            opacity: 0;
        }
        75%{
            opacity: 1;
            transform: scale(0.8);
        }
        82%{
            opacity: 0;
        }
        95% {
            opacity: 1;
            transform: scale(0.9);
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }

    }
}
@keyframes loader-div{
    0%{
        opacity: 1;
        z-index: 3;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: 3;
    }
}
.part-lieu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $couleur-fond1;
    height: 50px;
    box-shadow: 0px 1px 5px $couleur-texte1;
    & i{
        color: $couleur-texte1;
       font-size: 16px;
        padding-right: 17px;
    }
    & input{
        border: none;
        background-color: $couleur-fond1;
        width: 110px;
        &::placeholder{
            color: $couleur-texte1;
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 16px;
        }
    }
}

/* section réservation*/
.part-reservation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $couleur-fond2;
    margin-top: 4px;
    height:300px;
    & h2, p{
        text-align: center;
    }
    & h2{
        margin-bottom: 0px;
        margin-top: 35px;
        min-width: 275px;
    }
    & p {
        color: $couleur-texte1;
        font-size: 18px;
        font-weight: 300;
        min-width: 315px;
        margin-bottom: 27px;
    }
    & button{
       
        border-radius: 25px;
        height: 50px;
        width: 218px;
        background: $degrade;
        border: none;
        box-shadow: $ombre;
        color: white;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    } 
    & a{
        
        & :hover{
            opacity: 0.9;
            
        }
    }
}

/*section fonctionnement*/
.part-fonctionnement{
    margin: $marge;
    height: 390px;
    & h2{
        margin-top: 50px;
        margin-bottom: 35px;
    }
    & ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & li{
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: $couleur-fond2;
        box-shadow: $ombre;
        height: 72.379px;
        width: 95%;
        margin-bottom: 24px;
        font-weight:500;
        font-size: 16px;
        & .puce-liste{
            background-color: $couleur-primaire;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight:500;
            font-size: 15px;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            position: relative;
            right: 10px;
            
        }
        & i{
           padding:25px;
           color: #7e7e7e;
           padding-left: 15px;
        }
        & .i-couleur{
            color: $couleur-primaire;
        }
    }
}

/*section restaurant*/
.part-restaurants{
    background-color: #EDEDED;
    padding: $marge;
   
    & a{
       @include liens;
        display: flex;
        justify-content: center;
    }
    & article{
        background-color: white;
        border-radius: 25px ;
        margin-bottom: 15px;
        width: 88%;
    }
    & .carte-image{
        display: flex;
        justify-content: flex-end;
    }
    & .etiquette-nouveau{
        width: 80px;
        height: 29px;
        font-weight: 500;
        color: darken($color: $couleur-tertiaire, $amount: 40);
        background-color: $couleur-tertiaire;
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        position: absolute;
        margin-right: 15px;
    }
    & img{
        width: 100%;
        height: 170px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }
    & .carte-texte{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
        margin-left: 15px;
        .coeur{
            margin-bottom: 35px;
            margin-right: 20px;
        }
        
        & h3{
            margin-top: 10px;
            margin-bottom: 0px;
            
        }
        & p{
            font-size: 17px;
            font-weight: 300;
            margin-top: 0px;
        }
        
    }

}

/*media */
@media screen and (min-width:992px){
    body{
        .part-fonctionnement{ 
        height: fit-content;
        max-width: 1200px;
        margin: auto;
        & ul{
             flex-direction: row;
             gap: 30px;
            padding-left: 0px;
            }
        }
        .part-restaurants{
            h2{
                max-width: 1200px;
                margin: auto;
            }
            .restau-media{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                max-width: 1200px;
                margin: auto;
               
            }
            a{
                width: 46%;
                margin-top: 30px;
            }
            article{
                width: 100%;
            }
        }
    }
}