$couleur-primaire: #9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-texte1:#353535;
$couleur-fond1:#EAEAEA;
$couleur-fond2:#F6F6F6;
$marge:20px;
$ombre:0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$degrade:linear-gradient($couleur-secondaire, $couleur-primaire);

